.homePageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .register {
      color: rgb(180, 215, 23);
      font-size: 18px;
      font-weight: 700;
      padding: 12px;
  }